In [1]:
import pandas as pd
import csv
import pymysql
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
pymysql.install_as_MySQLdb()
Base = declarative_base()
import sqlalchemy
from sqlalchemy import create_engine

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, inspect

In [2]:
measurement = pd.read_csv("clean_measurement.csv")
measurement.rename(columns={"id":"measurement_id"}, inplace=True)

In [3]:
station = pd.read_csv("clean_station.csv")
station.rename(columns={"id":"station_id"}, inplace=True)

In [4]:
station.head()

,station_id,station,name,latitude,longitude,elevation,location
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [5]:
# Create the connection engine
from sqlalchemy.orm import Session
engine = create_engine("sqlite:///hawaii.sqlite")
session = Session(bind=engine)
conn = engine.connect()

In [6]:
# Create Measurement and Station Classes
# ----------------------------------
class Measurement(Base):
    __tablename__ = "measurement"
    measurement_id = Column(Integer)
    station = Column(String(255),primary_key=True)
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Float)

In [7]:
class Station(Base):
    __tablename__ = "station"
    station_id = Column(Integer)
    station = Column(String(255), primary_key = True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(255))

In [8]:
from sqlalchemy import MetaData

In [9]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

In [10]:
metadata = MetaData(engine)

In [11]:
ins = inspect(engine)
for _t in ins.get_table_names(): print(_t)

measurement
station

In [12]:
session.commit()

In [13]:
measurement.to_sql(Measurement.__tablename__,conn,if_exists='replace', index=False)

In [14]:
station.to_sql(Station.__tablename__,conn,if_exists='replace', index=False)

In [15]:
measures_sql = pd.read_sql("SELECT * FROM Measurement",conn)

In [16]:
station_sql = pd.read_sql("SELECT * FROM Station",conn)

In [17]:
print("Shape:" + str(measures_sql.shape))

Shape:(18103, 5)

In [18]:
print("Shape:" + str(station_sql.shape))

Shape:(9, 7)

In [19]:
measurement.shape

(18103, 5)

In [20]:
measures_sql.head()

   measurement_id      station        date  prcp  tobs
0               1  USC00519397  2010-01-01  0.08  65.0
1               2  USC00519397  2010-01-02  0.00  63.0
2               3  USC00519397  2010-01-03  0.00  74.0
3               4  USC00519397  2010-01-04  0.00  76.0
4               6  USC00519397  2010-01-07  0.06  70.0

In [21]:
ins = inspect(engine)
for _t in ins.get_table_names(): print(_t)

measurement
station