In [1]:
import pandas as pd
import csv

In [2]:
measurement = pd.read_csv('measurement.csv')
measurement.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [3]:
measurement.isnull().sum()

id            0
station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [4]:
measurement['prcp'].isnull().sum()

1447

In [5]:
clean_measurement = measurement.dropna()

In [6]:
clean_measurement.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
5   6  USC00519397  2010-01-07  0.06  70.0

In [7]:
clean_measurement.to_csv('clean_measurement.csv', index=False)

In [8]:
station = pd.read_csv('station.csv')
station

,id,station,name,latitude,longitude,elevation,location
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,POINT(21.2716 -157.8168)
1,2,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,POINT(21.4234 -157.8015)
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,POINT(21.5213 -157.8374)
3,4,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,POINT(21.3934 -157.9751)
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,POINT(21.4992 -158.0111)
5,6,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,POINT(21.33556 -157.71139)
6,7,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,POINT(21.45167 -157.84889)
7,8,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,POINT(21.3152 -157.9992)
8,9,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,POINT(21.3331 -157.8025)

In [9]:
station['name'].isnull().sum()

0

In [10]:
station.isnull().sum()

id           0
station      0
name         0
latitude     0
longitude    0
elevation    0
location     0
dtype: int64

In [11]:
clean_station = station.dropna()

In [12]:
clean_station.shape

(9, 7)

In [13]:
clean_station.to_csv('clean_station.csv', index=False)